body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background-color: #e5e5e5;
  --text-color: #000;
  --container-bg-color: white;
  --header-bg-color: #f7f7f7;
  --button-bg-color: #e5e5e5;
  --filter-bg-color: white;
  --filter-text-color: #000;
  --input-bg-color: white;
  --input-text-color: #000;
}

.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
  --container-bg-color: #3a3a3a;
  --header-bg-color: #292929;
  --button-bg-color: #292929;
  --filter-bg-color: #3a3a3a;
  --filter-text-color: #ffffff;
  --input-bg-color: #3a3a3a;
  --input-text-color: #ffffff;
}

.site-header {
  background-color: var(--header-bg-color);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.site-title {
  font-size: 24px;
  margin: 0;
}

.container {
  background-color: var(--container-bg-color);
  border-radius: 8px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 800px;
}

#new-task-button,
#add-task-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#new-task-button img,
#add-task-button img {
  width: 25px;
  height: 25px;
}

#theme-toggle-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#theme-toggle-button img {
  width: 25px;
  height: 25px;
}

#category-filter {
  padding: 5px;
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--filter-bg-color);
  color: var(--filter-text-color);
}

#new-task-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#container-new-task {
  text-align: center;
}

#new-task-form input[type="text"],
#new-task-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.task-item {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  display: flex;
  align-items: center;
  gap: 2px;
}

.category-label {
  margin-left: auto;
  padding: 2px 8px;
  border-radius: 8px;
  min-width: 80px; 
  font-size: 16px;
  color: #ffffff;
  text-shadow: 
                -1px -1px 0 #3a3a3a,  
                1px -1px 0 #3a3a3a,
                -1px 1px 0 #3a3a3a,
                1px 1px 0 #3a3a3a;
  text-align: center; 
}

.category-home { background-color: #f28b82; }
.category-work { background-color: #aecbfa; }
.category-hobby { background-color: #fff265; }
.category-health { background-color: #90ee90; }

.completed {
  background-color: #a2c4b0;
  transition: background-color 0.5s ease;
}

.image-button {
  background-color: transparent;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.image-button img {
  width: 25px;
  height: 25px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-container select {
  padding: 5px;
  border-radius: 8px;
  font-size: 16px;
}

.my-list {
  list-style-type: none;
  padding: 0;
}

.my-list li {
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid #b8b8b8;
  word-break: break-all;
  display: flex;
  align-items: center;
  gap: 2px;
}

* {
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .container {
    max-width: 800px;
  }
  .site-title {
    font-size: 24px;
  }
}